<div id="container-instructions">

	<h1>Instructions</h1>

	<hr>

	<div class="instructions well">

	    <p>
		    On the following screen you will a black bar with a set of instructions.
	    </p>

			<img src="instructions.png">
	    <p>
				Hold up an 8 1/2" X 11" piece of paper to your screen, and line up the longest side with the black bar. With the right and left arrows on your keyboard,
				adjust the length of the black bar until it is the same length as the longest edge of your paper.
        </p>


	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
