<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        <p>
          At the end of the sequence you will see a question mark in the center of the black dot.
        </p>

        <p>If you saw a number (1, 2, 3, 4, 5, 6, 7, 8, or 9) in the series of letters, press the "Y" key on your keyboard.
          If you did NOT see a number in the series of letters, press the "N" key on you keyboard.

        <p>To make answering easier, we recommend putting your left middle finger on the "Y" key, and left pointer finger on the "N" key. </p>

        <p>
          <img src="static/images/screen_5.png" widith="500" height="400">
        </p>




        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
              <button type="button" id="previous" value="previous" class="btn btn-primary btn-lg previous">
              <span class="glyphicon glyphicon-arrow-left"></span> Previous
              </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
