<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        <p>
          Once the red dot disappears, a series of letters will immediately be shown on the black dot where you are fixating. Sometimes a number (1, 2, 3, 4, 5, 6, 7, 8, or 9) will appear within the series of letters.
        </p>


        <p>
          Here is an example of a letter being shown in the series.</p>
        <p>
          <img src="static/images/screen_3.png" widith="500" height="400">
        </p>

        <p>
          Here is another example of a letter being shown in the series.</p>
        <p>
          <img src="static/images/screen_4.png" widith="500" height="400">
        </p>




        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
              <button type="button" id="previous" value="previous" class="btn btn-primary btn-lg previous">
              <span class="glyphicon glyphicon-arrow-left"></span> Previous
              </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
