<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        <p>If your answer is correct, the black dot in the center will turn green and there will be confetti.</p>
        <p>If your answer is incorrect, the black dot in the center will turn red.</p>

        <p>At the end of the trial, the dot in the center will turn white. At this point, a new trial will immediately start.</p>



        <p>
          <img src="static/images/screen_7.png" widith="500" height="400">
        </p>




        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
              <button type="button" id="previous" value="previous" class="btn btn-primary btn-lg previous">
              <span class="glyphicon glyphicon-arrow-left"></span> Previous
              </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
