<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        <p>
          Immediately after you answer either (Y)es or (N)o, a red dot with two arrows ( < O > ) will appear in the center of the black dot
          along with another red dot somewhere on the screen.</p>

        <p>The red dot in the center of the screen asks you to determine whether the red dot on the screen currently is to the left or to the right of the red dot you had seen initially at the beginning of the trial.</p>
        <p>If the dot that is currently on the screen is to the <strong>LEFT</strong> of the dot you had initially seen, press the <strong>LEFT</strong> arrow key on your keyboard (use your right pointer finger).</p>
        <p>If the dot that is currently on the screen is to the <strong>RIGHT</strong> of the dot you had initially seen, press the <strong>RIGHT</strong> arrow key on your keyboard (use your right ring finger).</p>



        <p>
          <img src="static/images/screen_6.png" widith="500" height="400">
        </p>




        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
              <button type="button" id="previous" value="previous" class="btn btn-primary btn-lg previous">
              <span class="glyphicon glyphicon-arrow-left"></span> Previous
              </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
